#app .button-down-anchor {
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  margin-top: to-rem(30px);

  svg {
    height: 1rem;
    margin-top: 12px;

    transition: ease 0.3s;

    path {
      fill: palette("orange");
    }
  }

  & > .button:hover + svg {
    transform: translateY(0.3rem);
  }

  .button {
    margin-top: 0;
  }

  &--full-width {
    width: 100%;
  }
}

.button.btn {
  font-family: $gotham-font-stack;
  font-size: to-rem(14px);
  font-weight: 600;
  color: palette("white");

  padding: 1rem;

  box-shadow: none;

  width: auto;
  height: auto;

  display: inline-block;
  margin: 0;

  line-height: 1rem;

  transition: ease 0.3s;

  &.button--primary {
    background-color: palette("orange");

    &:hover {
      background-color: palette("orange", "dark");
    }
  }

  &.button--primary-blue {
    background-color: palette("blue");
    border: 1px solid palette("blue");

    &:hover {
      background-color: palette("white");
      color: palette("blue");
    }
  }

  &.button--secondary {
    background-color: transparent;
    border: 1px solid palette("white");

    &:hover {
      background-color: white;
      color: palette("blue");
    }
  }

  &.button--secondary-orange {
    background-color: transparent;
    border: 1px solid palette("orange");
    color: palette("orange");

    &:hover {
      border-color: palette("orange");
      background-color: palette("orange");
      color: palette("white");
    }
  }

  &:hover {
    box-shadow: none;
  }

  &.button--full-width {
    width: 100%;
  }

  & > svg path {
    fill: palette("orange");
  }
}
