#app .contact-section {
  background-color: palette("grey", "background");
  
  position: relative;

  &::before {
    content: "";
    display: block;

    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    z-index: 0;
  }

  &::before {
    width: 200px;
    height: 100px;

    left: 40px;
    top: 95px;
    background-image: url("@/assets/images/svg/pattern-blue-horizontal.svg");
  }

  .contact-form {
    position: relative;
  }
}
