#app .contact-section {
  background-color: palette("grey", "background");

  position: relative;

  &::before {
    content: "";
    display: none;

    position: absolute;
    left: 40px;
    top: 95px;
    z-index: 0;

    width: 200px;
    height: 100px;

    background-image: url("@/assets/images/svg/pattern-blue-horizontal.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: breakpoint("desktop")) {
      display: block;
    }
  }

  .contact-form {
    position: relative;
  }
}
