#app .contact-section {
  background-color: palette("grey", "background");

  position: relative;

  @media screen and (min-width: breakpoint("desktop")) {
    padding-top: 160px;
  }

  .pattern {
    content: "";
    display: none;

    position: absolute;
    top: 2rem;
    left: 40px;
    z-index: 0;

    width: 200px;

    @media screen and (min-width: breakpoint("desktop")) {
      display: block;
    }
  }

  .contact-form {
    position: relative;
  }
}
