$headerHeight: to-rem(72px);

#app {
  padding-top: $headerHeight;
}

.header {
  display: flex;
  height: $headerHeight;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  background-color: palette("white");

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__main-logo {
    a {
      display: flex;
    }
  }

  nav {
    background-color: palette("white");
    height: 100%;
  }

  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
    }

    .header__navigation__item,
    .header__navigation__item.active,
    .header__navigation__item {
      font-family: $gotham-font-stack;
      font-size: to-rem(14px);
      font-weight: 600;
      color: palette("blue");

      height: 100%;

      padding: 0 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        background-color: transparent;
      }

      &:hover {
        color: palette("blue");
        background-color: palette('grey', 'background');
      }
    }

    .header__navigation__item.active {
      border-bottom: 3px solid palette("blue");
    }

    .indicator {
      background-color: palette("blue");
      height: to-rem(4px);
    }

    .button {
      margin-left: 1rem;
    }
  }
}
