#app .contact-page {
  background-color: palette("grey", "background");

  .contact-page__info-map {
    position: relative;

    iframe {
      max-width: 100%;
      max-height: 300px;
    }

    .pattern-blue-horizontal-white {
      content: "";

      display: none;

      position: absolute;

      width: to-rem(254px);
      height: to-rem(200px);

      z-index: 2;

      top: -70px;
      right: -50px;

      @media screen and (min-width: breakpoint("desktop")) {
        display: block;
      }
    }
  }

  .contact-form {
    position: relative;

    margin-top: 2rem;
  }

  .category-block {
    margin-bottom: 2rem;

    @media screen and (min-width: breakpoint("desktop")) {
      margin-bottom: to-rem(65px);
    }
  }

  .contact-page__center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: column;

    @media screen and (min-width: breakpoint("desktop")) {
      flex-direction: row;
    }

    .contact-page__info-set {
      margin-right: to-rem(120px);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .contact-page__info-set {
    display: flex;
    justify-content: flex-start;

    & > svg {
      $svgSize: to-rem(20px);

      width: $svgSize;
      height: $svgSize;

      display: inline-block;

      margin-top: to-rem(5px);
      margin-right: to-rem(12px);

      path {
        fill: palette("orange");
      }
    }

    .contact-page__info-set__block {
      width: 100%;
      margin-bottom: to-rem(30px);

      li,
      a,
      address {
        font-size: to-rem(14px);
        line-height: to-rem(23px);
        color: palette("grey");
        display: block;
      }

      a {
        color: palette("grey");
        transition: 0.3s ease;

        &:hover {
          color: palette("orange");
        }
      }

      svg {
        $imgSize: to-rem(18px);

        width: $imgSize;
        height: $imgSize;

        margin-left: 0.2rem;
        display: inline-block;

        path {
          fill: palette("white");
        }
      }

      .icon-whatsapp svg {
        @include whatsapp-icon;
      }
    }
  }
}
