#app .ethics-conduct-code {
  @media screen and (max-width: breakpoint("desktop")) {
    padding-top: 0;
    background-color: palette('blue');
  }

  & > .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: breakpoint("desktop")) {
      flex-direction: row;
    }

    &::after {
      content: "";

      display: none;

      position: absolute;
      top: 0;
      left: 0;

      width: 88%;
      height: 100%;

      background-color: palette("blue");
      z-index: 0;

      @media screen and (min-width: breakpoint("desktop")) {
        display: block;
      }
    }

    &::before {
      content: "";

      display: none;
      position: absolute;
      left: 0;
      bottom: 0;

      width: calc(58.333% + 30px);
      height: 34px;

      background-color: palette("orange");
      z-index: 1;

      @media screen and (min-width: breakpoint("desktop")) {
        display: block;
      }
    }
  }

  .ethics-conduct-code__content,
  .ethics-conduct-code__media {
    position: relative;
    z-index: 2;
  }

  .ethics-conduct-code__content {
    position: relative;
    padding: 3rem 0;

    @media screen and (min-width: breakpoint("desktop")) {
      padding: to-rem(65px) to-rem(50px) to-rem(120px);
      flex-basis: 50%;
    }

    .content-title {
      @media screen and (max-width: breakpoint("desktop")) {
        margin-bottom: 2rem;
      }
    }

    p {
      color: palette("white");
      line-height: 120%;
      margin-bottom: 1rem;

      @media screen and (min-width: breakpoint("desktop")) {
        line-height: 2rem;

        margin-bottom: to-rem(30px);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .button {
      margin-top: 2rem;

      @media screen and (min-width: breakpoint("desktop")) {
        margin-top: 50px;
      }
    }
  }

  .ethics-conduct-code__media {
    position: relative;

    display: block;

    @media screen and (min-width: breakpoint("desktop")) {
      flex-basis: 50%;
    }

    &::before {
      content: "";

      display: block;

      position: absolute;
      right: -16px;
      top: 10px;

      width: 115px;
      height: 16px;

      background-color: palette("orange");
      z-index: 2;

      @media screen and (min-width: breakpoint("desktop")) {
        top: auto;
        right: -25px;
        bottom: 105px;
        height: 26px;
      }
    }

    &::after {
      content: "";

      display: block;

      position: absolute;

      top: -200px;
      right: 23px;
      z-index: 4;

      width: to-rem(246px);
      height: to-rem(324px);

      background-image: url("@/assets/images/svg/about-pattern-blue-white-vertical.svg");
    }

    img {
      min-width: 50%;
    }
  }
}
