#app .our-focus {
  padding-top: to-rem(105px);

  h1 {
    font-size: to-rem(60px);
    line-height: 100%;
    font-weight: bold;
    margin-bottom: to-rem(30px);
    display: block;

    .our-focus__highlight {
      color: palette("white");
      display: inline-block;

      padding: to-rem(8px) to-rem(15px);

      position: relative;

      &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: palette("orange");

        z-index: 0;

        @keyframes focus-animation {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
        animation-name: focus-animation;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
      }

      span {
        position: relative;
        z-index: 1;
      }
    }
  }

  p {
    font-size: 1rem;
    line-height: to-rem(24px);
    margin-bottom: to-rem(30px);

    strong {
      font-weight: bold;
      color: palette("orange");
    }
  }

  .our-focus__media {
    $shapeSize: to-rem(30px);

    margin-top: to-rem(90px);
    position: relative;

    padding: $shapeSize $shapeSize $shapeSize 0;

    &::before {
        content: "";

        position: absolute;

        width: to-rem(87px);
        height: to-rem(220px);

        background-image: url('@/assets/images/svg/about-pattern-blue-orange-vertical.svg');

        z-index: 2;

        top: -67px;
        left: 1rem;
      }

    &::after {
        content: "";

        position: absolute;

        width: to-rem(254px);
        height: to-rem(200px);

        background-image: url('@/assets/images/svg/about-pattern-blue-orange-horizontal.svg');

        z-index: 2;

        bottom: -66px;
        right: 13px;
      }

    img {
      display: block;

      position: relative;
      z-index: 1;
    }

    .our-focus__media__shape {
      display: block;

      position: absolute;
      z-index: 0;

      &--colored {
        width: to-rem(282px);
        height: 28.69%;
        background-color: palette("orange");

        top: 0;
        right: 0;
      }

      &--grey {
        width: to-rem(282px);
        height: 71.31%;
        background-color: palette("shape", "grey");

        bottom: 0;
        right: 0;
      }

      &--light {
        width: to-rem(500px);
        height: to-rem(20px);
        background-color: palette("white");

        bottom: $shapeSize;
        left: 0;

        z-index: 2;
      }
    }
  }

  .our-focus__misson-vision {
    margin-top: to-rem(90px);

    [class^="column-"] {
      display: table-cell;
    }

    .our-focus__misson-vision__box {
      position: relative;
      height: 100%;

      background-color: palette("grey");
      padding: 2rem;

      color: palette("white");

      &::after {
        content: "";

        position: absolute;

        width: to-rem(115px);
        height: to-rem(25px);

        z-index: 2;

        top: -10px;
        right: -18px;
      }

      h3 {
        font-size: to-rem(32px);
        font-weight: bold;
        line-height: 100%;
        margin-bottom: to-rem(32px);
      }

      p {
        color: palette("white");
        margin: 0;
      }

      &--mission {

        &::after {
            background-color: palette('orange');
        }
    }
    
    &--vision {
          &::after {
              background-color: palette('blue');
          }
      }
    }
  }
}
