#app .our-history {
  .our-history__timeline {
    position: relative;

    transition: 0.3s ease;

    padding-bottom: 2rem;
    
    @media screen and (min-width: breakpoint("desktop")) {
      opacity: 0;
      padding-bottom: 0;
    }

    // line
    &::before {
      content: "";

      display: block;

      position: absolute;
      top: 50%;
      left: 0;

      transform: translateY(-50%);

      width: 2px;
      height: 100%;

      background-color: palette("orange");

      z-index: 0;

      @media screen and (min-width: breakpoint("desktop")) {
        top: calc(50% - 10px);
        width: 100%;
        height: 2px;
      }
    }

    // angle
    &::after {
      content: "";
      display: block;

      position: absolute;
      bottom: 0;
      left: -11px;

      transform: rotate(90deg);
      
      width: 20px;
      height: 22px;
      
      background-image: url("@/assets/images/svg/angle-right.svg");
      background-color: palette("white");
      
      z-index: 0;
      
      @media screen and (min-width: breakpoint("desktop")) {
        position: absolute;
        top: calc(50% - 8px);
        left: auto;
        right: 0;
        transform: translateY(-50%)s;
      }
    }

    &__row {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      position: relative;
      z-index: 2;

      @media screen and (min-width: breakpoint("desktop")) {
        flex-direction: row;
      }
    }

    .our-history__timeline__item {
      $shape-width: 18px;
      $shape-height: 1rem;
      $lateral-margin: to-rem(26px);
      $diamond-lateral-margin: calc(#{$lateral-margin} - 6px);

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;
      margin-bottom: to-rem(30px);

      padding-left: 2rem;

      @media screen and (min-width: breakpoint("desktop")) {
        margin-right: 25%;
        margin-bottom: 0;
        padding-left: 0;
      }

      &__box {
        position: relative;

        width: 100%;
        height: 100%;

        background-color: palette("grey");
        padding: 28px $lateral-margin;

        color: palette("white");

        margin-bottom: to-rem(30px);

        @media screen and (min-width: breakpoint("desktop")) {
          max-width: to-rem(295px);
        }

        &::after {
          content: "";

          display: block;
          width: 0;
          height: 0;

          border-left: $shape-width solid transparent;
          border-right: $shape-width solid transparent;
          border-top: $shape-height solid palette("grey");

          position: absolute;
          left: $lateral-margin;
          bottom: -$shape-height;

          z-index: 2;
        }

        h4 {
          font-size: to-rem(16px);
          font-weight: bold;
          line-height: 100%;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        p {
          font-size: to-rem(14px);
          color: palette("white");
          line-height: 1rem;
          margin: 0;
        }
      }

      &__date {
        display: block;

        @media screen and (min-width: breakpoint("desktop")) {
          margin-left: $diamond-lateral-margin;
          text-align: center;

          display: inline-block;

          position: absolute;

          left: 0;
          bottom: -46px;

          height: 54px;
        }

        .icon-diamond {
          margin-right: 0;
          padding-left: 22px;
          padding-right: 22px;

          background-color: palette("white");

          position: absolute;
          left: -20px;
          bottom: 0px;

          @media screen and (min-width: breakpoint("desktop")) {
            position: static;
          }
        }

        p {
          font-weight: bold;
          text-align: center;

          @media screen and (min-width: breakpoint("desktop")) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            white-space: nowrap;
          }
        }
      }

      &--bottom {
        .our-history__timeline__item__box--highlight {
          background-color: palette("orange");

          &::after {
            border-top: $shape-height solid palette("orange");
          }
        }

        @media screen and (min-width: breakpoint("desktop")) {
          margin-right: 0;

          flex-direction: column-reverse;
          margin-left: 25%;

          .our-history__timeline__item__box {
            margin-bottom: 0;
            margin-top: to-rem(80px);

            &::after {
              border-top: 0;
              border-left: $shape-width solid transparent;
              border-right: $shape-width solid transparent;
              border-bottom: $shape-height solid palette("grey");

              top: -$shape-height;
              bottom: auto;
            }
          }

          .our-history__timeline__item__box--highlight {
            &::after {
              border-bottom: $shape-height solid palette("orange");
            }
          }

          .our-history__timeline__item__date {
            bottom: 0;
            top: -8px;
          }
        }
      }
    }
  }

  .our-history__timeline.animate {
    @media screen and (min-width: breakpoint("desktop")) {
      opacity: 1;

      @keyframes lineGrows {
        0% {
          width: 0;
        }

        95% {
          width: 100%;
        }

        100% {
          width: 100%;
        }
      }

      // line
      &::before {
        animation: lineGrows 3s ease-out;
      }

      @keyframes angleShows {
        0% {
          opacity: 0;
        }

        75% {
          opacity: 0;
        }

        85% {
          opacity: 1;
        }

        100% {
          opacity: 1;
        }
      }

      // angle
      &::after {
        animation: angleShows 3s linear;
      }

      .our-history__timeline__item {
        &__box {
          @keyframes box1Shows {
            0% {
              opacity: 0;
              transform: translateY(-20px);
            }

            10% {
              opacity: 1;
              transform: translateY(0);
            }

            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &--1 {
            animation: box1Shows 3s ease-in-out;
          }

          @keyframes box2Shows {
            0% {
              opacity: 0;
              transform: translateY(-20px);
            }

            45% {
              opacity: 0;
              transform: translateY(-20px);
            }

            55% {
              opacity: 1;
              transform: translateY(0);
            }

            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &--2 {
            animation: box2Shows 3s ease-in-out;
          }

          @keyframes box3Shows {
            0% {
              opacity: 0;
              transform: translateY(20px);
            }

            20% {
              opacity: 0;
              transform: translateY(20px);
            }

            30% {
              opacity: 1;
              transform: translateY(0);
            }

            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &--3 {
            animation: box3Shows 3s ease-in-out;
          }

          @keyframes box4Shows {
            0% {
              opacity: 0;
              transform: translateY(20px);
            }

            70% {
              opacity: 0;
              transform: translateY(20px);
            }

            80% {
              opacity: 1;
              transform: translateY(0);
            }

            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &--4 {
            animation: box4Shows 3s ease-in-out;
          }
        }

        &__date {
          @keyframes date1Shows {
            0% {
              opacity: 0;
            }

            10% {
              opacity: 1;
            }

            100% {
              opacity: 1;
            }
          }

          &--1 {
            animation: date1Shows 3s ease-in-out;
          }

          @keyframes date2Shows {
            0% {
              opacity: 0;
            }

            45% {
              opacity: 0;
            }

            55% {
              opacity: 1;
            }

            100% {
              opacity: 1;
            }
          }

          &--2 {
            animation: date2Shows 3s ease-in-out;
          }

          @keyframes date3Shows {
            0% {
              opacity: 0;
            }

            20% {
              opacity: 0;
            }

            30% {
              opacity: 1;
            }

            100% {
              opacity: 1;
            }
          }

          &--3 {
            animation: date3Shows 3s ease-in-out;
          }

          @keyframes date4Shows {
            0% {
              opacity: 0;
            }

            70% {
              opacity: 0;
            }

            80% {
              opacity: 1;
            }

            100% {
              opacity: 1;
            }
          }

          &--4 {
            animation: date4Shows 3s ease-in-out;
          }
        }
      }
    }
  }
}
