#app .center-statement {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;

  .center-statement__title {
    font-size: to-rem(28px);
    line-height: 120%;
    font-weight: bold;
    display: block;

    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: breakpoint("desktop")) {
      font-size: to-rem(36px);
      line-height: to-rem(43px);
      padding-bottom: to-rem(30px);
      margin-bottom: to-rem(30px);
    }

    &::after {
      content: "";

      display: block;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: to-rem(64px);
      height: to-rem(2px);
    }

    &.text-white {
      &::after {
        background-color: palette("white");
      }
    }

    &.text-blue {
      &::after {
        background-color: palette("orange");
      }
    }

    &--simple {
      &::after {
        display: none;
      }
    }
  }

  .center-statement__text {
    margin-bottom: to-rem(30px);

    @media screen and (min-width: breakpoint("desktop")) {
      margin-bottom: to-rem(60px);
    }
  }
}
