#app .forms {
  .input-field {
    $lateral-spacing: 1rem;

    margin: 0;
    margin-bottom: to-rem(20px);

    &:last-child {
      margin-bottom: 0;
    }

    & > input {
      margin: 0;
      margin-bottom: 0;

      display: block;
      box-sizing: border-box;
    }

    & > input,
    & > textarea {
      color: palette("blue");
    }

    & > textarea {
      min-height: 98px;
    }

    & > label {
      width: auto;
      padding: 0 10px;
      left: calc(#{$lateral-spacing} - 8px);

      &:not(.label-icon).active {
        transform: translateY(-9px) scale(0.8);
        color: palette("grey", "form-text");
      }
    }

    & > input,
    & > textarea,
    .select-dropdown.dropdown-trigger {
      font-size: 1rem;

      padding: to-rem(26px) $lateral-spacing;
      border: 1px solid palette("grey", "input-border");
      border-radius: 4px;

      box-sizing: border-box;

      color: palette("blue");

      &:focus,
      &:visited,
      &:active,
      &.valid {
        box-shadow: none;
      }
    }

    & > label {
      color: palette("grey", "form-text");
    }

    & > label,
    .select-dropdown.dropdown-trigger {
      background-color: palette("white");
    }

    .select-wrapper {
      & + label {
        top: -20px;
        z-index: 1;
      }

      .caret {
        z-index: 1;
        right: $lateral-spacing;
        fill: palette("grey", "form-text");
      }
    }

    .dropdown-content li:not(.disabled) > span {
      color: palette("grey", "form-text");
    }

    input.error,
    &.input-field--select.error .select-dropdown.dropdown-trigger,
    textarea.error {
      border-color: palette("red");
    }

    input.error,
    &.input-field--select.error,
    textarea.error {
      & > label,
      & > label.active,
      & + label,
      & + label.active,
      & ~ .helper-text {
        color: palette("red");
      }
    }

    input.success,
    &.input-field--select.success .select-dropdown.dropdown-trigger,
    textarea.success {
      border-color: palette("green");
    }

    input.success,
    &.input-field--select.success,
    textarea.success {
      & > label,
      & > label.active,
      & + label,
      & + label.active,
      & ~ .helper-text {
        color: palette("green");
      }
    }

    input:focus:not(.success):not(.error),
    &.input-field--select:focus:not(.success):not(.error)
      .select-dropdown.dropdown-trigger,
    textarea:focus:not(.success):not(.error) {
      border-color: palette("blue");
    }

    input:focus:not(.success):not(.error),
    &.input-field--select:focus:not(.success):not(.error),
    textarea:focus:not(.success):not(.error) {
      & > label,
      & > label.active,
      & + label,
      & + label.active,
      & ~ .helper-text {
        color: palette("blue");
      }
    }
  }
}
