.close-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;

  svg {
    height: 26px;

    path {
      color: palette("white");
    }
  }
}

#app .modal {
  box-shadow: none;
  background-color: palette("white");

  width: 100%;
  max-width: 470px;
  max-height: 85%;
  z-index: 9;

  &-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    max-height: 80%;
    overflow-y: auto;

    .contact-form {
      width: 100%;
      padding: 0;
    }
  }
}
