/* ---- BANNER SECTION ---- */
#app .banner {
  background-image: url("@/assets/images/webp/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 3rem;
  padding-bottom: 3rem;

  @media screen and (min-width: breakpoint("desktop")) {
    padding-top: to-rem(180px);
    padding-bottom: to-rem(140px);
  }

  .diamond {
    display: block;
    width: 100px;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: to-rem(24px);
    line-height: 120%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    color: palette("white");
    display: block;
    position: relative;

    @media screen and (min-width: breakpoint("desktop")) {
      font-size: to-rem(45px);
      padding-bottom: to-rem(40px);
      margin-bottom: to-rem(30px);
    }

    strong {
      font-weight: bold;
    }

    &::after {
      content: "";

      display: block;

      position: absolute;
      bottom: 0;
      left: 0;
      background-color: palette("white");
      height: to-rem(3px);
      width: to-rem(64px);
    }
  }

  p {
    font-size: to-rem(16px);
    color: palette("white");
    line-height: 120%;
    font-weight: 100;

    strong {
      color: palette("orange");
      font-weight: bold;
    }

    @media screen and (min-width: breakpoint("desktop")) {
      font-size: to-rem(22px);
    }
  }

  .button {
    min-width: to-rem(160px);
    margin-top: to-rem(24px);

    @media screen and (min-width: breakpoint("desktop")) {
      margin-top: to-rem(40px);
    }
  }
}
