#app .catalog {
  position: relative;

  padding-top: 0;
  padding-bottom: 0;

  & > .container {
    position: relative;
    z-index: 1;
  }

  .center-statement {
    position: relative;
    z-index: 9;
  }

  .parallax-container {
    min-height: 390px;
    height: 100%;

    .parallax {
      padding-top: to-rem(90px);
      padding-bottom: to-rem(90px);
      z-index: 5;
      background-color: palette("grey");

      display: flex;
      align-items: center;

      img {
        opacity: 0.4 !important;
        mix-blend-mode: luminosity;
        object-fit: cover;
      }
    }
  }
}
